<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRISM Alert</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            background: #ffffff;
        }
        .header {
            text-align: center;
            padding-top: 30px;
        }
        .title {
            font-size: 20px;
            font-weight: 500;
            line-height: 23.44px;
        }
        .content-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: #333;
        }
        .content {
            padding: 50px;
            font-size:14px;
        }
        .table-container {
            width: 100%;
            border-collapse: collapse;
            font-size: 16px;
            font-weight: 700;
        }
        .table-container th, .table-container td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        .table-container th {
            background-color: #f8f8f8;
        }
        .button-container {
            text-align: center;
            margin: 20px 0;
        }
        .button {
            display: inline-block;
            text-align: center;
            background: rgba(99, 178, 189, 1);
            color: black;
            padding: 12px;
            text-decoration: none;
            border-radius: 5px;
            white-space: nowrap;
            
            font-weight: 600;
            
        }
        @media (max-width: 768px) {
            .button span {
                display: none; 
            }
            .button::before {
                content: "ACCESS DASHBOARD";
                display: inline;
            }
        }
        .footer {
            text-align: center;
            font-size: 12px;
            color: white;
            padding: 15px 0;
            width: 100%;
            background-color: rgba(99, 178, 189, 1);
        }
        .footer .title {
            margin-bottom: 15px;
        }
        
        .footer p {
            margin-bottom: 15px;
        }
        
        .footer a {
            color: white;
            font-weight: bold;
            margin-top: 10px;
        }
        .readiness-icon {
            width: 24px;
            height: 24px;
            border-radius: 8px;
            background-color: rgba(99, 178, 189, 1);
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        .activation-icon {
            width: 24px;
            height: 24px;
            border-radius: 8px;
            background-color: rgba(230, 55, 1, 1);
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        .trigger-title {
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            font-size: 16px;;
        }
        .trigger-title-container {
            display: inline-block;
            margin-bottom: 10px;
            width: 100%;
        }
        .gray-box {
            background-color: rgba(241, 241, 241, 1);
            padding: 20px;
            margin-top: 20px;
            color: black; 
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div class="header"><div class="title">PRISM</div></div>
        
        <div class="content">
            <div class="content-title">Activation Triggers activated (<%= windspeed %>) for <%= cycloneName %>
            </div>
            <p>ANTICIPATORY ACTION ALERT FOR TROPICAL STORM <%= cycloneName %> - <%= cycloneTime %> - 
                FORECAST BY REGIONAL SPECIALIZED METEOROLOGICAL CENTER LA REUNION</p>
            <p><div class="trigger-title-container">
                <span class="trigger-title">
                    <span class="readiness-icon"></span> Readiness Trigger Activated
                </span>
            </div><br>
                <%= cycloneTime %> there was 20% likelihood of Mozambique experiencing tropical storm-force winds within the next 5 days</p>

                <p><div class="trigger-title-container">
                    <span class="trigger-title">
                        <span class="activation-icon"></span> Activation Triggers: Activated
                    </span>
                </div><br>
                Projected wind speeds affecting districts in the next 72 hours:</p>

            <table class="table-container">
                <tr>
                    <td>> 89 km/h</td>
                    <td><%= districts48kt %></td>
                </tr>
                <tr>
                    <td>> 118 km/h</td>
                    <td><%= districts64kt %></td>
                </tr>
            </table>

            <!-- Bouton centré -->
            <div class="button-container">
                <a href="<%= redirectUrl %>" target="_blank" rel="noopener noreferrer" class="button">
                    <span style="vertical-align: middle;">ACCESS PRISM TROPICAL STORM DASHBOARD</span>
                    <img src="<%= icons.arrowForwardIcon %>" alt="Arrow Forward Icon" style="width: 16px; height: 16px; vertical-align: middle">
                </a>
            </div>
            
            <h3>
                <img src="<%= icons.mapIcon %>" alt="Icon" style="width: 24px; height: 24px; vertical-align: middle; margin-right: 8px;">
                Trajectory Map
            </h3>
            <img src="data:image/png;base64,<%= base64Image %>" alt="Storm Trajectory" width="100%" style="border: none;">

            <div class="button-container">
                <a href="<%= redirectUrl %>" target="_blank" rel="noopener noreferrer" class="button">
                    <span style="vertical-align: middle;">ACCESS PRISM TROPICAL STORM DASHBOARD</span>
                    <img src="<%= icons.arrowForwardIcon %>" alt="Arrow Forward Icon" style="width: 16px; height: 16px; vertical-align: middle">
                </a>
            </div>
            

            <p>We will continue to closely monitor the situation and provide timely updates as more information becomes available.</p>
            <p>Best regards,</p>
            <p>WFP Mozambique Country Office</p>
            
            <div class="gray-box">
                <strong>Disclaimer</strong>: please note, this is not an official forecast. For accurate and official updates, please refer to alerts issued by <strong>INAM (Mozambique Meteorological Service)</strong>.
            </div>

            


        </div>
        <div class="footer">
            <div class="title">PRISM</div>
            <p>This message was automatically generated.</p>
            <p>You can <a class="link" href="<%= unsubscribeUrl %>">unsubscribe here</a></p>
        </div>
    </div>
    
</body>
</html>
